* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #5941A9;
    background-color: #08090A;
    padding: 0px 0px 60px;
    font-weight: 800;
}

.geral {
    max-width: 60%;
    margin: auto;
    background-color:#A7A2A9;
    border-radius: 10px;
    border: 8px solid #222823 ;
    /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
    text-align: left;
    padding: 0px 0px 80px 10px;

}
h1, h2, h3{
    color:#34236d;
}
.foto img {
    border-radius: 100%;
    left: 50px;
    border: 3px solid #222823 ;

}
.secao02 p{
    margin-top: 10px;
    text-align: justify;
}

.foto {
    text-align: center;
    margin-bottom: 10px;
}
li {
    list-style-type: none;
}

.cabecalho {
    max-width: 100%;
}

.secao02 {
    padding: 10px;
    /* border: 2px solid orange; */
}

#habilidades {
    /* border: 2px solid green; */
    padding: 10px;

}
#apresentacao{
    margin-left: 10px;
}

#habilidades h3 {
    margin-bottom: 10px;
}

#habilidades li {
    font-size: 15px;
}

#redes-sociais {
    padding: 10px;
}

.link-externos {
    /* border: 2px solid black; */
    padding: 10px;
}

.link-externos h3 {
    margin-bottom: 10px;
}

.button {
    /* border: solid 1px #ccc; */
    background: gray;
    font-size: 13px;
    color: black;
    border-radius: 3px;
    line-height: 2;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    min-width: 100px;
    padding: 0 16px;
    margin-top: 0px;
    transition: all 1.2s ease;
    transform: scale(1);
    margin-bottom: 3px;
}

.button:hover {
    background-color: lightgrey;
    transform: scale(1.05);
}

.button:active {
    background-color: rgb(14, 15, 15);
}

.button-redes {
    /* border: solid 1px #ccc; */
    /* font-size: 13px; */
    /* color: #555; */
    /* line-height: 2; */
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    /* min-width: 100px; */
    /* padding: 0 16px;
    margin-top: 0px; */
    transition: all 0.5s ease;
    transform: scale(1);
    padding: 10px;

}

.button-redes:hover {
    transform: scale(1.2);
}