body{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    background-color: rgb(150, 140, 140);
}
#apresentacao{
    text-align: center;
}
#biografia, #habilidades, #redes-sociais, #link-externo,#indice{
    text-decoration: underline;
    color:;
}