*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;

}
.geral{
    border: 2px solid red;
    max-width: 40%;
    margin:auto;
    background-color: white;
}
.backgroud-geral{
    background-color:grey;
    border:2px solid blue;
}

#apresentacao {
    text-align: left;
    border: 2px solid blue;
    padding: 10px;
}
img{
    border-radius: 100%;
}
.foto, .cabecalho{ 
    background-image: url("./imagens/imagem-logo-trybe.jpeg") ;
    
}
li{
    list-style-type: none;
}
.cabecalho{
    max-width: 100%;
}
.secao02{
    padding: 10px;
    border: 2px solid orange;
}
#habilidades{
    border: 2px solid green;
    padding: 10px;
}
#habilidades li{
    font-size: 20px;
}


.button {
    border: solid 1px #ccc;
    background: white;
    font-size: 13px;
    color: #555;
    border-radius: 3px;
    line-height: 2;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    min-width: 100px;
    padding: 0 16px;
    margin-top: 0px;
    transition: all 1.2s ease;
    transform: scale(1);
}  
.button:hover{
    background-color: lightgrey;
    transform: scale(1.05);
}
.button:active{
    background-color: rgb(14, 15, 15);
}   



